.filter-items {
  list-style-type: none;
  margin-right: 40px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
}
